*

!.gitignore
!lib
!lib/**/*
!meshes
!meshes/**/*
!classDir
!classDir/**/*
!kernelDir
!kernelDir/**/*
!sourceDir
!sourceDir/**/*
!windowDir
!windowDir/**/*
!HISTORY.md
!LICENSE
!main.cpp
!mainwindow.cpp
!mainwindow.h
!mainwindow.ui
!QtDiffractionSimulator.pro
!README.md
!res.qrc